<footer style="font-size: 12px;">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-10 mt-md-0 mt-3">
                <p>Copyright 2020 Thermo Fisher Scientific In. All rights reserved.</p>
                <ul style="list-style: none; display: flex; padding-left: 0; justify-content: space-between;">
                    <li>
                        Accessability/Disability access
                    </li>
                    <li>
                        Terms and conditions
                    </li>
                    <li>
                        Company privacy statement
                    </li>
                    <li>
                        Privacy policy
                    </li>
                    <li>
                        EEO &Afirmative action statement
                    </li>
                    <li>
                        Sitemap
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-2 mb-md-0 mb-3" style="display: flex; justify-content: center; align-self: center;">
                <p>Thermofisher logo</p>
            </div>
        </div>
    </div>
</footer>