<div class="container"> <!-- -fluid-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="c-tabs c-tabs--theme-red">
            <div class="c-tabs__item" id="details"> <!-- c-item -->
              <a class="c-tabs__panel" href="#details">Details</a> <!-- no class B4-->
              <div class="c-tabs__content"> <!-- c-tabs-content -->
                <h2>Overview</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, eius. Eveniet doloremque inventore facere quidem aliquam id earum, reiciendis nisi veritatis. Sapiente assumenda optio rem nisi laborum reiciendis eum culpa.</p>
                <!-- Video -->
                <div class="video-container">
                    <div class="player">
                        <video controls style="max-width: 100%;">
                            <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                            <source src="../../assets/video/antibodies.mp4" type="video/webm">
                        </video>
                    </div>
                </div>
                <div class="caption-video">
                    <p style="margin: 1rem;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque molestias soluta a quidem, nihil atque! Et, dolorum? Id error minima eos, eveniet harum sunt, accusamus illum tempore sequi cumque rerum.</p> 
                </div>
              </div>
            </div>
            <div class="c-tabs__item" id="specs">
              <a class="c-tabs__panel" href="#specs">Tech specs</a>
              <div class="c-tabs__content">
                <h2>Tech specs</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, eius. Eveniet doloremque inventore facere quidem aliquam id earum, reiciendis nisi veritatis. Sapiente assumenda optio rem nisi laborum reiciendis eum culpa.</p>
                <div class="video-container">
                    <div class="player">
                        <video controls style="max-width: 100%;">
                            <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                            <source src="../../assets/video/antibodies.mp4" type="video/webm">
                        </video>
                    </div>
                </div>
              </div>
            </div>
            <div class="c-tabs__item" id="faq">
              <a class="c-tabs__panel" href="#faq">FAQ</a>
              <div class="c-tabs__content">
                  <h2>FAQ</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, eius. Eveniet doloremque inventore facere quidem aliquam id earum, reiciendis nisi veritatis. Sapiente assumenda optio rem nisi laborum reiciendis eum culpa.</p>
                <div class="video-container">
                    <div class="player">
                        <video controls style="max-width: 100%;">
                            <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                            <source src="../../assets/video/antibodies.mp4" type="video/webm">
                        </video>
                    </div>
                </div>
              </div>
            </div>
            <div class="c-tabs__item" id="tab16">
              <a class="c-tabs__panel" href="#tab16">Link</a>
              <div class="c-tabs__content">
                  <h2>Link</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, eius. Eveniet doloremque inventore facere quidem aliquam id earum, reiciendis nisi veritatis. Sapiente assumenda optio rem nisi laborum reiciendis eum culpa.</p>
                <div class="video-container">
                    <div class="player">
                        <video controls style="max-width: 100%;">
                            <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                            <source src="../../assets/video/antibodies.mp4" type="video/webm">
                        </video>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="c-tabs t-red" style="display: flex; top:30px;">
        <div class="c-item" id="tab13">
            <a href="#tab13">Details</a>
            <div class="c-tabs-content"> 
              1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat itaque unde sunt non reprehenderit. Labore odio consectetur non minus ducimus. Saepe voluptates aut ipsa fuga at enim blanditiis distinctio vel.
            </div>
        </div>
        <div class="c-item" id="tab14">
            <a href="#tab14">Tech Specs</a>
            <div class="c-tabs-content"> 
              <h2>Overview</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, eius. Eveniet doloremque inventore facere quidem aliquam id earum, reiciendis nisi veritatis. Sapiente assumenda optio rem nisi laborum reiciendis eum culpa.</p>
                <div class="video-container">
                    <div class="player">
                        <video controls>
                          <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                          <source src="../../assets/video/antibodies.mp4" type="video/webm">
                        </video>
                    </div>    
                </div>
                
            </div>
        </div>
        <div class="c-item" id="tab15">
            <a href="#tab15">FAQ</a>
            <div class="c-tabs-content"> 
              3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat itaque unde sunt non reprehenderit. Labore odio consectetur non minus ducimus. Saepe voluptates aut ipsa fuga at enim blanditiis distinctio vel.
            </div>
        </div>
        <div class="c-item" id="tab16">
            <a href="#tab16">Link</a>
            <div class="c-tabs-content"> 
              4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat itaque unde sunt non reprehenderit. Labore odio consectetur non minus ducimus. Saepe voluptates aut ipsa fuga at enim blanditiis distinctio vel.
            </div>
        </div>
        <div class="c-item" id="tab17">
            <a href="#tab17">Link</a>
            <div class="c-tabs-content"> 
              5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat itaque unde sunt non reprehenderit. Labore odio consectetur non minus ducimus. Saepe voluptates aut ipsa fuga at enim blanditiis distinctio vel.
            </div>
        </div>
    </div> -->
</div>