<div class="container"> <!-- -fluid-->
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <section>
              <div class="c-nav">
                <div class="c-nav__container">
                  <div class="c-nav__links">
                      <!-- c-nav--active-->
                      <div class="c-nav__item" (click)="initNavigationTabs($event)" *ngFor="let option of navigationOptions; let i=index; let firstItem = first; let lastItem = last" > <!-- [ngClass]="{ 'c-nav--active': firstItem }-->
                          <a [attr.href]="'#'+ option.id">{{option.name}}</a>
                      </div>
                  </div>
                </div>
              </div>
          </section>
          <!-- Navs content -->
          <section id="contentSection" *ngFor="let option of navigationOptions" [attr.id]="option.id">
              <h1>{{option.name}}</h1>
              <h2>{{option.content}}</h2>
              <!-- Video -->
              <div *ngIf="option.videoURL; else imageContent" class="video-container">
                  <div class="player">
                      <video controls class="asset-width" style="max-width: 100% ">
                          <source [src]="option.videoURL" type="video/mp4">
                          <source [src]="option.videoURL" type="video/webm">
                      </video>
                  </div>
              </div>
              <div class="caption-video">
                  <p style="margin: 1rem;">{{option.videoCaption}}</p> 
              </div>
              <!-- Video -->
              <!-- Image -->
              <ng-template #imageContent>
                  <div class="video-container">
                      <div class="player">
                          <img src="../../assets/img/guide.jpg" class="asset-width" alt="" style="max-width: 100% ">
                      </div>
                  </div>
                  <div class="caption-video">
                      <p style="margin: 1rem;">{{option.imageCaption}}</p> 
                  </div>
              </ng-template>
              <!-- Image -->
              <!-- <ng-content></ng-content> -->
          </section>
      </div>
  </div>
</div>