<div class="container" >
    <div class="row">
        <div style="margin: 2rem 9rem; text-align: center;">
            <h4>Success Stories</h4>
            <h1>Headline here</h1>
            <!-- <hr class="my-4">  -->
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quia aliquid assumenda rerum similique inventore perspiciatis praesentium dolorem dicta ipsum sunt nemo tempora facere adipisci, corrupti porro laudantium officia iste.</p>
        </div>
        
        <div class="col-md-4">
            <div class="c-card">
                <div class="c-card__image"> <!--player -->
                    <video controls>
                    <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                    <source src="../../assets/video/antibodies.mp4" type="video/webm">
                    </video>
                </div>
              <!-- <img class="c-card__image" src="../../assets/img/sample_image.png" alt="Image description" /> -->
              <div class="c-card__content">
                <p class="c-card__title">HeLa cells</p>
                <p class="c-card__description">
                  EVOS M7000. Stains: NucBlue (nucleus), Phalloidin. Deconvolved using
                  Celeste 5.0 Image Analysis Software
                </p>
                <div class="c-card__cta">
                  <a href="#">
                    <p>Browse feature</p>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="c-card">
              <!-- <img class="c-card__image" src="../../assets/img/sample_image.png" alt="Image description" /> -->
              <div class="c-card__image"> <!--player -->
                <video controls>
                    <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                    <source src="../../assets/video/antibodies.mp4" type="video/webm">
                    </video>
                </div>
              <div class="c-card__content">
                <p class="c-card__title">HeLa cells</p>
                <p class="c-card__description">
                  EVOS M7000. Stains: NucBlue (nucleus), Phalloidin. Deconvolved using
                  Celeste 5.0 Image Analysis Software
                </p>
                <div class="c-card__cta">
                  <a href="#">
                    <p>Browse feature</p>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="c-card">
              <!-- <img class="c-card__image" src="../../assets/img/sample_image.png" alt="Image description" /> -->
              <div class="c-card__image"> <!--player -->
                <video controls>
                    <source src="../../assets/video/antibodies.mp4" type="video/mp4">
                    <source src="../../assets/video/antibodies.mp4" type="video/webm">
                    </video>
                </div>
              <div class="c-card__content">
                <p class="c-card__title">HeLa cells</p>
                <p class="c-card__description">
                  EVOS M7000. Stains: NucBlue (nucleus), Phalloidin. Deconvolved using
                  Celeste 5.0 Image Analysis Software
                </p>
                <div class="c-card__cta">
                  <a href="#">
                    <p>Browse feature</p>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>


