<body>
  <!-- Header -->
  <app-header></app-header>
  <!-- Hero banner -->
  <section style="clear: both;">
    <div style="background: black; height: 26rem;">
      <p style="height: 25px; color: rgb(255, 255, 255); font-size: 16px; font-family: HelveticaNeue-Bold; font-weight: bold; text-align: center; letter-spacing: 0px; line-height: 25px;padding-top: 5rem; margin-bottom: 2.5rem;">
        {{bannerTitle}}
      </p>
      <hr style="width: 32px; border: 1px solid rgb(231, 19, 22);">
    </div>
  </section>
  <!-- Tabs Komodo component-->
  <app-tabs-component></app-tabs-component>
  <!-- Informative section -->
  <app-summary></app-summary>
  <!-- Success Stories section -->
  <app-stories></app-stories>
  <!-- Top button -->
  <div class="c-card__cta" style="display: flex; justify-content: flex-end; align-items: center; margin: 8rem 1rem 2rem 0;">
      <p style="margin-bottom: 0; color: rgb(84, 88, 90); font-family: HelveticaNeue; font-size: 12px; height: 22px; letter-spacing: 0px; line-height: 22px;">Back to the top</p>
      <div (click)="toTheTop()" class="top-button">
      </div>
  </div>
    <!-- Footer -->
  <app-footer></app-footer>
</body>