.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}
/* NAV MENU */
.small-list {
    display: flex;
    width: 26rem;
    float: right;
    list-style: none; 
    justify-content: space-around;
    margin: 1rem 12rem 1rem 0;
}
.normal-list {
    display: flex;
    list-style: none;
    //margin: 1rem auto 1rem;
    justify-content: space-around;
}
// Hides submenu dropdown bootstrap
@media only screen and (max-width: 3000px) and (min-width: 991px) {
    //dropdown-menu show -- <1000 - >1700
    .dropdown-menu {
        //background: burlywood;
        display: none;
    }
}
@media only screen and (max-width: 991px) and (min-width: 30px) {
    .submenu-container {
        display: none;
        /* ul {
            color: chartreuse;
        } */
    }
}