<div class="container">
    <div class="row">
        <section>
            <h4>About Us</h4>
            <hr>
            <h1>Step ahead. Step beyond.</h1>
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
            <!-- Brightcove-player 
            <div id="player-container"></div>-->
            
            <p>Caption, video title, details, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </section>

        <section>
            <h4>Our Brands</h4>
            <h1>Headline here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Back to top </p>
            <button class="btn btn-danger">ICON</button>
        </section>
        <!-- <app-footer></app-footer> -->
    </div>
</div>